
/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=PlayfairDisplay-BlackItalic.")

h1{
  font-size: 3em;
}

h6{
 font-size: 1em;
}

p, i, a{
 font-size: 1em;
}

@media only screen and (max-width : 767px) {

h1 {
font-size: 2em;
}

h6 {
font-size: 1em;
}

p, i, a {
font-size: 1rem;
}

}

/* Navbar */
.nav-barber{
	background-color: #121619;
}

a.nav-link{
	color: #fafafa;
}

.nav-barber:hover{
	color: red;
}

/* hedear */

.header_barber {
  background-image: url("../img/post-image.jpg");
  background-size: cover;
  text-align: center;
  height: 600px;
  padding-top: 130px;
  background-position: right bottom;
}

.header_barber h1{ 
    color: #fafafa;
    font-size: 60px;
 }

.header_barber i{
	color: #fafafa;
	font-size: 60px;
	padding-top: 150px;
}

 
@media only screen and (max-width : 767px) {

.header_barber {
    height: 500px;
    padding-top: 100px;
    background-position: center;
  }

.header_barber h1 {
    font-size: 3em;
  }

.header_barber p {
    padding: 1rem 4rem;
  }

}


/* section  text-barber*/
.text-barber{
	padding: 100px;
	background: #fafafa;
}

.text-barber i{
	padding: 10px;
}

.text-barber p{
	padding: 10px;
}

@media only screen and (max-width : 767px) {
.text-barber {
    padding-top: 2vh;
    padding-left: 15vw;
    padding-bottom: 5vh;
  }
.text-barber p{
    font-size: 2em;
  }

}

/* section iconos-barber*/
.iconos-barber i{
	padding: 20px;
	font-size: 24px;
	
}
/* section noami-barber*/
.noami-barber{
	background-color: #fafafa;
    padding-left: 50px;
} 


.noami-barber img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	padding: 10px;
	text-align: center;
}

.noami-barber h6{
	text-align: center;
	padding-right: 10px;
	padding-top: 50px;
	font-size: 15px;
}

.noami-barber p{
    font-size: 12px;
    padding-top: 30px;
}

/* section cortes-barber*/
.cortes-barber{
   background-color: #c4c0bf;
   color: #323333;
   padding: 10px;
   padding-top: 30px;

}

.cortes-barber h6{
    text-align: center;
    font-size: 10px;
}

.cortes-barber i{
   font-size: 24px;
}

/* footer*/
.footer-barber{
	background:#121619;
	height: 200px;
}

.footer-barber img{
	padding-bottom: 50px;
	margin: 80px;
    
}

.footer-barber img {
    width: 200px;
  }